---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import ProjectsDialog from '../components/ProjectsDialog.astro';
import AboutSection from '../components/AboutSection.astro';
import TechStackSection from '../components/TechStackSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
---

<Layout>
	<Navbar/>
	
	<main class="font-primary">
		<HeroSection />
		<ProjectsSection />
		<AboutSection />
		<TechStackSection />
		<ExperienceSection />
		<ContactSection />
	</main>
	
	<Footer />
	
	<!-- Projects Dialog -->
	<ProjectsDialog />
</Layout>
