<div class="border space-y-2 border-white p-4 text-sm">
  <div class="flex flex-col">
    <label
      class="bg-white border-2 px-2 border-white  text-black"
      for="email">Email</label
    >
    <input
      type="text"
      class="border outline-none border-white px-1 py-2"
      placeholder="Correo Electronico"
    />
  </div>
  <div class="flex flex-col">
    <label
      class="bg-white border-2 px-2 border-white  text-black"
      for="email">Asunto</label
    >
    <select class="border outline-none text-white border-white px-1 py-2">
      <option class="text-black" selected value="consulta">Consulta</option>
      <option class="text-black" value="soporte">Soporte</option>
      <option class="text-black" value="otro">Otro</option>
    </select>
  </div>
  <div class="flex flex-col">
    <label
      class="bg-white border-2 px-2 border-white  text-black"
      for="email">Mensaje</label
    >
    <textarea
      name="mensaje"
      placeholder="Escribe tu mensaje aquí..."
      id=""
      class="border outline-none border-white px-1 py-2"></textarea>
  </div>
</div>
