<form 
  id="contact-form"
  action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSf8BMn-0jHZrca0a9w1vudkolfkzKlF6bj-GqL1OGliesIO9w/formResponse" 
  method="POST" 
  target="hidden_iframe"
  class="border space-y-2 border-white p-4 text-sm"
>
  <!-- EMAIL Field -->
  <div class="flex flex-col">
    <label
      class="bg-white border-2 px-2 border-white text-black"
      for="entry.176472047">Email</label
    >
    <input
      type="email"
      name="entry.176472047"
      id="entry.176472047"
      required
      class="border outline-none border-white px-1 py-2 bg-transparent text-white"
      placeholder="tu@email.com"
    />
  </div>

  <!-- ASUNTO Field -->
  <div class="flex flex-col">
    <label
      class="bg-white border-2 px-2 border-white text-black"
      for="entry.2049134383">Asunto</label
    >
    <input
      type="text"
      name="entry.2049134383"
      id="entry.2049134383"
      required
      class="border outline-none border-white px-1 py-2 bg-transparent text-white"
      placeholder="Asunto de tu mensaje"
    />
  </div>

  <!-- MENSAJE Field -->
  <div class="flex flex-col">
    <label
      class="bg-white border-2 px-2 border-white text-black"
      for="entry.895521336">Mensaje</label
    >
    <textarea
      name="entry.895521336"
      id="entry.895521336"
      required
      rows="4"
      placeholder="Escribe tu mensaje aquí..."
      class="border outline-none border-white px-1 py-2 bg-transparent text-white resize-none"
    ></textarea>
  </div>
</form>

