---
const { title, description, icon } = Astro.props;
---
<div>
        <div class="border border-white font-medium px-3 py-2">
          <h3 class="text-2xl font-bold">{title}</h3>
          <p class="text-xs font-light">
            {description}
          </p>
        </div>
        <div class="px-1.5 py-1.5 bg-white w-full flex justify-end gap-2 text-xs">
          <div class="relative inline-block group">
            <button class="button-clean-dark">Ver Proyectos</button>
            <span
              class="shadow-box"
            ></span>
          </div>
          <div class="relative inline-block group">
            <button class="button-clean-dark">Ver Estadisticas</button>
            <span
              class="shadow-box"
            ></span>
          </div>
        </div>
      </div>
