---
import Home from "./icons/Home.astro";
import Briefcase from "./icons/Briefcase.astro";
import Contact from "./icons/Contact.astro";
---

<div>
    <div class="relative flex  opacity-95 ">
        <div class="flex right-10 fixed flex-col bg-gray-900 border border-white items-center px-4 py-2 rounded-md  mb-10 justify-center gap-10  mx-auto">
            <span class="header-point ">
                <Home/>
            </span> 
            <span class="header-point ">
                <Briefcase/>
            </span> 
            <span class="header-point ">
                <Contact/>
            </span> 
        </div>
    </div>
    
</div>