---

---

<nav class="grid grid-cols-3 items-center">
    <div class="hover:scale-105 transition-all cursor-pointer duration-300 ">
        <img src="./logo-portfolio.png" alt="nose ve" class="mx-auto my-10 h-24"/>
    </div>
    <ul class="flex justify-center space-x-4">
        <li><button class="nav-li">Tecnologias</button></li>
        <li><button class="nav-li">Proyectos</button></li>
        <li><button class="nav-li">Experiencia</button></li>
    </ul>
    <button class="button-clean mx-auto">Activar Bot</button>

</nav>
