---

---

<nav class="grid grid-cols-3 items-center">
    <div class="hover:scale-105 transition-all cursor-pointer duration-300 ">
        <img src="./logo-portfolio.png" alt="nose ve" class="mx-auto my-10 h-24"/>
    </div>
    <ul class="flex justify-center space-x-4">
        <li><button class="nav-li">Tecnologias</button></li>
        <li><button class="nav-li">Proyectos</button></li>
        <li><button class="nav-li">Experiencia</button></li>
    </ul>
    <div class="relative inline-block group mx-auto">
        <button class="button-clean">Activar Bot</button>
        <span class="absolute inset-0 duration-100 group-hover:translate-x-1 group-hover:translate-y-1 group-hover:bg-white/20  justify-center text-white  pointer-events-none"></span>
    </div>
            

</nav>
