<div class="h-8 w-[150px]   shadow-white duration-150 rounded-md bg-gradient-to-r from-blue-500 to-green-500 p-[2px] ">
    <div class="relative h-full rounded-md text-xs flex justify-center items-center bg-gray-800">
        <slot/>
    </div>
</div>