---
---

<section id="inicio" class="min-h-screen justify-center w-3/4 mx-auto gap-6 sm:gap-10 px-4 items-center flex flex-col sm:flex-row">
  <div class="relative group">
    <img 
      id="avatar"
      src="/avatar-26-color.png" 
      alt="Avatar" 
      class="w-40 sm:w-48 md:w-80 lg:w-96 shadow-md [mask-image:radial-gradient(circle_at_center,black_45%,transparent_80%)] object-cover animate-blur-pulse cursor-pointer  transition-all duration-500 ease-in-out"
    >
  </div>
  <div class="space-y-5 text-center sm:text-end flex-1">
    <h2 class="text-2xl sm:text-4xl md:text-6xl lg:text-9xl font-extrabold">
      Diogo Abregu 
    </h2>
    <p class="text-xs sm:text-xl font-light text-white">
      <span class="font-bold [text-shadow:0_0_6px_rgba(255,255,255,0.35)]">
        System Engineer
      </span>
      & Founder of
      <span class=" font-bold [text-shadow:0_0_6px_rgba(255,255,255,0.35)]">
        Capictive
      </span>
    </p>
    <div class="flex gap-4 justify-end">
        <a href="https://github.com/DiogoAbreguAG" target="_blank" rel="noopener">
          <img
          src="/icons/github.svg"
          alt="GitHub"
          class="h-6 w-6 hover:scale-110 transition-transform duration-300"
        />
        </a>
        <a href="https://www.linkedin.com/in/diogo-abregu-g/" target="_blank" rel="noopener">
        <img
          src="/icons/linkedin.svg"
          alt="LinkedIn"
          class="h-6 w-6 hover:scale-110 transition-transform duration-300"
        /></a>
        
        <a href="https://www.instagram.com/dio.abg/" target="_blank" rel="noopener">
        <img
          src="/icons/instagram.svg"
          alt="Instagram"
          class="h-6 w-6 hover:scale-110 transition-transform duration-300"
        />
        </a>
        
      </div>
    <div class=" justify-center sm:justify-end hidden items-center flex-wrap gap-2">

      <a href="/Diogo CV.pdf" class="relative inline-block group" download>
        <button class="button-clean">CV</button>
        <span class="shadow-box"></span>
      </a>
    </div>
  </div>
</section>