<section id="redes-sociales">
    <div class="flex justify-between mt-24 mb-10 w-4/5 mx-auto text-sm items-center">
      <button id="copyright-btn">@ Diogo Abregu 2025</button>
      <div class="flex gap-4">
        <img
          src="/icons/github.svg"
          alt="GitHub"
          class="h-6 w-6 hover:scale-110 transition-transform duration-300"
        />
        <img
          src="/icons/linkedin.svg"
          alt="LinkedIn"
          class="h-6 w-6 hover:scale-110 transition-transform duration-300"
        />
        <img
          src="/icons/instagram.svg"
          alt="Instagram"
          class="h-6 w-6 hover:scale-110 transition-transform duration-300"
        />
      </div>
    </div>
  </section>